---
layout: default
title: Home
---
{% include video-bg.html %}
<div class="content">
    <div class="text-center px-6">
        <h1 class="text-6xl font-bold mb-4">The Kingdom of Code</h1>
        <p class="text-2xl mb-8">Exploring the Intersection of Faith and Technology</p>
        
        {% assign latest_post = site.posts.first %}
        {% if latest_post %}
        <div id="featured-post" class="max-w-2xl mx-auto bg-gray-900/80 backdrop-blur-sm p-6 rounded-lg border border-white/10 mb-8">
            <h1 class="text-4xl font-bold mb-2 text-indigo-400">
                <a href="#featured-post" class="hover:opacity-80">Featured Post</a>
            </h1>
            <h3 class="text-xl font-bold mb-4">{{ latest_post.title }}</h3>
            <p class="mb-4 text-gray-300">{{ latest_post.summary }}</p>
            <a href="{{ latest_post.url | relative_url }}" class="learn-more-btn inline-block">Read More</a>
        </div>
        {% endif %}

        <div id="podcast" class="max-w-2xl mx-auto bg-gray-900/80 backdrop-blur-sm p-6 rounded-lg border border-white/10">
            <h1 class="text-4xl font-bold mb-2 text-indigo-400">
                <a href="#podcast" class="hover:opacity-80">The Kingdom of Code Podcast</a>
            </h1>
            <h2 class="text-4xl font-bold mb-2 coming-soon">Coming soon!</h2>
            <p class="mb-4 text-gray-300">This podcast is at the intersection of Faith and Technology: understanding the role of technology in God’s plan, staying Spirit-led in a rapidly changing world, and using our gifts to shape the future rather than fear it. From coding to creativity, ethics to entrepreneurship, and from the digital to the spiritual, we’ll uncover how believers can lead in the age of technology.</p>
            <p>Listen to the teaser for Episode 1: The Church, AI and the Race to Lead with special guest Rebekah Kuenstler.</p>
            <div class="audio-player-container mt-4">
                <audio controls class="w-full custom-audio-player">
                    <source src="/assets/audio/E01-teaser.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>
